---
import Layout from "../layouts/Layout.astro";
import "../css/style.css";
export async function getStaticPaths() {
    const blogs = await Astro.glob('../blogs/*.md');
    return blogs.map(blog => ({
        params: {
            slug: blog.frontmatter.slug
        },
        props: {
            blog
        }
    }));
}

const { Content, frontmatter } = Astro.props.blog;
---

<Layout>
    <header id="blogs-header">
        <a class="team_heading" href="/">Symbiotic Lab</a>  
        <div class="toggleMenu" ></div>
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            
            <li><a href="/about">About Us</a></li>
            <li><a href="/blogs">Blogs</a></li>
        </ul>
    </header>

    

    <div class="blog-container">
        
        <!-- <div class="upload_details">
            <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=2000&q=60" alt="" class="authors-details-image">
            <h3 class="heading-author">Sync</h3>
        </div> -->

        
        <div class="small-container slide-up"> 
            <!-- <span class="blog-tag">{ frontmatter.tag }</span> -->
            <Content/>
        </div>
       
    </div>
    <footer>
        <div class="foot-socials">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
            <ul class="foot-list">
                <li>
                    <a href="/">Home</a>
                    <a href="/about">About Us</a>
                    <a href="/blogs">Blogs</a>
                </li>
            </ul>
            <p class="foot-copyright">Symbiotic Labs @ 2023</p>
        </footer>
    <script>
        import "../scripts/main.js";  /*changes*/
    </script>
</Layout>

