---
import Layout from "../layouts/Layout.astro";
import "../css/style.css";
export async function getStaticPaths() {
    const blogs = await Astro.glob('../blogs/*.md');
    return blogs.map(blog => ({
        params: {
            slug: blog.frontmatter.slug
        },
        props: {
            blog
        }
    }));
}

const { Content, frontmatter } = Astro.props.blog;
---

<Layout>
    <header>
        <a href="#"><img src="/images/logo.jpg" class="logo" alt=""></a>
        <div class="toggleMenu" ></div>
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/whatsnew">What's New</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </header>
    <div class="blog-container">
        <Content/>
    </div>
</Layout>