---
import "../css/style.css";
import Layout from '../layouts/Layout.astro';

const blogs = await Astro.glob('../blogs/*.md');
---

<Layout title="Blog">
        <!-- <h1>This is some thing new </h1> -->
        <section class="sec">
            <header>
             <a class="team_heading" href="/"><h1>Symbiotic Lab</h1></a>
                <div class="toggleMenu"></div>
                <ul class="navigation">
                    <li><a href="/">Home</a></li>
                    
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                </ul>
            </header>
                   <div>
            {
                blogs.map(b => {
                    const { coverImage, title, date, excerpt, author, slug } = b.frontmatter;
                    return (
                        <div class="blog">
                            <img class="coverImg" src={ coverImage } alt="">
                            <h2>{title}</h2>
                            <p>{new Date(date).toLocaleDateString()}</p>
                            <p>{excerpt}</p>
                            <p>{author}</p>
                            <a class="btn" href={`/${slug}`}>Read More</a>
                        </div>
                    )
                })
            }
        </div> 
        </section>

<script>
    import "../scripts/main.js";
</script>

<style>
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
        
.btn:hover {
    background: #fff;
    border: #000;
    color: #000;
    transition: 0.5s;
}
</style>
</Layout>
